<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Su reserva ha sido confirmada.</h1>
    <h2>Estos son los datos de su reserva:</h2>
    <p>
      <b>Email:</b> <%= @book.email %>
    </p>
    <p>
      <b>Fecha y Hora:</b> <%= @book.start_time %>
    </p>
    <p>Le esperamos en nuestro restaurante.</p>
  </body>
</html>
