<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Su reserva se encuentra a la espera de confirmación.</h1>
    <h2>Estos son los datos de la reserva:</h2>
    <p>
      <b>Email:</b> <%= @book.email %>
    </p>
    <p>
      <b>Fecha y Hora:</b> <%= @book.start_time %>
    </p>
    <p>
      <b>Comensales:</b> <%= @book.diners %>
    </p>
    <p>Se le enviará un correo en cuanto su reserva quede confirmada.</p>
  </body>
</html>
