<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Saludos, querido usuario!</h1>
    <h2>Puede consultar sus reservas haciendo clic en <a href="<%= @url %>">este enlace</a></h2>
  </body>
</html>
