<% content_for :head do %>
    <title>Mi restaurante - Página principal</title>
<% end %>

<%= render 'layouts/notifications' %>

<div style="min-height: 450px;">
    <div id="newBookForm" style="display: block">
        <%= render 'form', book: @book, button_name: "Reservar", form_type: "create" %>
    </div>

    <div id="myBooksForm" style="display: none">
        <%= render 'mybooksForm', button_name: "Enviar correo" %>
    </div>
</div>

<hr>

<button class="btn btn-success" id="swapBtn" style="color: white" onclick="swapForms()">Consultar reservas</button>

<script>

    function swapForms() {
        var x = document.getElementById("newBookForm")
        var y = document.getElementById("myBooksForm")
        if (x.style.display === "none") {
          x.style.display = "block";
          y.style.display = "none";
        } else {
          x.style.display = "none";
          y.style.display = "block";
        }
        var swapBtn = document.getElementById("swapBtn");
        swapBtn.innerHTML = (swapBtn.innerHTML == 'Consultar reservas') ? 'Nueva reserva' : 'Consultar reservas' ;
    } 

</script>