<% content_for :head do %>
    <title>Mi restaurante - Página principal</title>
<% end %>

<div>
    <h1>Nueva reserva</h1>

    <%= render 'form', book: @book, button_name: "Reservar", form_type: "create" %>
</div>

<hr>

<div>
    <h1>Consultar reservas</h1>

    <p id="notice"><%= notice %></p>

    <%= render 'mybooksForm', button_name: "Enviar correo" %>
</div>