<% content_for :head do %>
    <title>Mi restaurante - Editar reserva (<%= @book.id %>)</title>
<% end %>

<h1>Editar reserva <%= @book.id %></h1>

<%= render 'form', book: @book, button_name: "Actualizar", form_type: "edit" %>

<hr>

<p>
    <%= link_to 'Volver a sección de reservas', books_path, class: "btn btn-secondary" %>
</p>
