<p>Saludos, <%= @resource.email %></p>

<p>
    Has solicitado restablecer la contraseña para tu cuenta de administrador. 
    Haz clic en <%= link_to 'este enlace', edit_password_url(@resource, reset_password_token: @token) %> para restablecer tu contraseña.
</p>